@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AIT2024</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">My auditory is cool</a>.</p>
</div>
